<html>

<head>
    <title>FAQ</title>
    <meta charset='UTF-8'>

    <link rel="stylesheet" type="text/css" href="../../lib/css/libsConcatCSS.css">
    <script type="text/javascript" src='../../lib/libsConcat.js'></script>

    <link rel="stylesheet" type="text/css" href="../../stylesheets/faq.css">


</head>

<body>
    <div class='container' style='margin-top: 20px;'>
        <div class='row'>
            <div class='col s12'>
                <div class='center'>
                    <h5>Current UAV Regulations in Canada</h5>
                    <em>Author: Lucy Poley, Project Manager, CloudUAV</em>
                </div>

                <p>The operation of UAVs for recreational, commercial, or research purposes in Canada is regulated by Transport Canada (TC). In their own words, TC considers Unmanned Air Systems as legitimate airspace users, and is committed to the safe integration of UAVs into Canadian airspace. As the technology and use of UAVs rapidly increased over the past two decades, TC decided to update the Canadian Aviation Regulations (CARs) to include a section on UAVs. However, until the new CARs come into effect (predicted to be early-mid 2018), current UAV regulations require all commercial or research-purpose operations to apply for and receive a Special Flight Operations Certificate (SFOC), unless an operation meets a series of criteria that allows it to be exempt from the SFOC requirement.</p>

                <p><b>If you are not flying recreationally, you need to apply for an SFOC if you want to…</b>
                    <ul class='bullet-list'>
                        <li>Operate in airspace other than Class G;</li>
                        <li>Operate the UAS further than 0.25 nautical mile (if UAV weighs 1 kg or less) or 0.5 nautical mile (if 1-25 kgs) from the pilot;</li>
                        <li>Operate within a built-up area (1 kg), or within 3 nautical miles of a built up area (1-25 kgs);</li>
                        <li>Operate within 100 feet (1 kg) or 500 feet (1 – 25 kgs) of a building, structure, vehicle, vessel, animal, or person;</li>
                        <li>Operate at higher than 300 feet above ground level;</li>
                        <li>Operate over an open-air assembly of persons;</li>
                        <li>Do any of the following prohibited activities: piloting using a first person view device; using multiple control stations; operating more than one UAV at a time; operating in an airshow; operating at night; operating within, over, or within 5 nautical miles of a forest fire area; carrying explosive, corrosive, flammable, bio-hazardous, or bright light-emitting (laser) payloads; operating in restricted airspace.
                        </li>
                    </ul>
                    Canada is divided into five regions by TC, and SFOC submissions should be made to the region in which the proposed operation will occur. The regions are: Pacific Region (B.C.); Prairie and Northern Region (Alberta, Saskatchewan, Manitoba, and the Territories); Ontario Region (Ontario); Quebec Region (Quebec); and Atlantic Region (New Brunswick, Nova Scotia, P.E.I., and Newfoundland and Labrador). An SFOC application is available online through Transport Canada (link below) and must be completed in full and submitted to the appropriate regional office. TC has reported receiving an exponentially increasing number of SFOC applications in recent years, so it is good to submit an SFOC application as soon as you know the details of your operation.

                </p>
                <p class='center'><b>The link to submit an SFOC application is here:</b><br/>
                    <a onclick='openInNewTab("https://www.tc.gc.ca/eng/civilaviation/opssvs/applying-special-flight-operations-certificate.html")'>https://www.tc.gc.ca/eng/civilaviation/opssvs/applying-special-flight-operations-certificate.html</a></p><br/>

                <h6>Recreational UAV Operations</h6>
                <p>Recreational flights or model aircraft are currently regulated separately from commercial or research UAV operations; however, in the new CARs recreational and commercial operations will be subject to the same regulations, with the reasoning that both types of operations pose the same potential risk to other airspace users and people, property, and structures on the ground. When the new CARs are put into effect, the following information will no longer apply to recreational UAV users.</p>
                <p>Currently an Interim Order (Interim Order No. 8 Respecting the Use of Model Aircraft, last updated July 20 2017) issued by Transport Canada sets out the conditions under which a model aircraft or UAV, weighing less than 35 kilograms and being operated only for recreational activities, can be flown.
                </p>

                <p><b>Recreational UAV operations are not allowed…</b>
                    <ul class='bullet-list'>
                        <li>At an altitude greater than 300 feet above ground level;</li>
                        <li>Within controlled or restricted airspace;</li>
                        <li>Over or within the security perimeter of a police or first responder emergency operation site;</li>
                        <li>Over, within, or within 9 km of an area of a natural hazard or disaster (i.e. forest fire);</li>
                        <li>Over or within an open-air assembly of persons;</li>
                        <li>At night or in cloud;</li>
                        <li>Within 3 nautical miles of the center of an aerodrome other than a heliport, within 1 nautical mile of the center of a heliport, or in an aerodrome control zone.</li>
                    </ul>

                    <b>Other provisions:</b>

                    <ul class='bullet-list'>
                        <li>Do not operate more than one model aircraft at a time;</li>
                        <li>If aircraft weighs less than 1 kg, stay at a lateral distance of at least 100 feet from vehicles, vessels, or the public. If aircraft weights between 1 and 35 kilograms, stay at a lateral distance of at least 250 feet from vehicles, vessels, of the public.</li>
                    </ul>
                    If all the rules above are obeyed, recreational model aircraft or UAV users may fly without informing Transport Canada of their operation.

                </p>

                <h6>Operating Under the SFOC Exemptions</h6>
                <p>If your non-recreational operation won’t be doing any of the activities listed than require an SFOC, you may be applicable to operate under an SFOC exemption, as long as you can meet all of the required criteria. The SFOC exemptions for non-recreational flights fall into two categories, based on the UAV system’s take-off weight. The two categories are 1) take-off weight of 1 kilogram or less; and 2) take-off weight of 1 – 25 kilograms, and have some common requirements and some requirements specific to each category. Larger UAVs inherently pose greater risk than smaller platforms and so there are more requirements for UAVs with take-offs weights greater than 1 kilogram.</p>

                <p>The exemptions are summarized in the following tables. The first table gives all general conditions that are common to any UAV operation occurring under the SFOC exemptions. The second table breaks down the flight, training, reporting, and UAV system conditions specific to each category. If a condition is shown as taking up both UAV category columns, it is common to both categories. If it is only found in one column, it applies only to that take-off weight category.</p>
                <p>No matter which exemption you are operating under, you must report your operation to Transport Canada and provide some information prior to conducting any UAV flights. This is easily done online via the following link:</p>
                <p class='center'><a onclick='openInNewTab("https://www.tc.gc.ca/eng/civilaviation/opssvs/getting-permission-fly-drone.html#notification")'>https://www.tc.gc.ca/eng/civilaviation/opssvs/getting-permission-fly-drone.html#notification</a></p><br/>

                <h6 class='center'>General Exemption Conditions – Applicable to ALL UAV Operations</h6>
                <table class='blue-styled-table'>
                    <thead>
                        <tr>
                            <th>Section</th>
                            <th>Conditions</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Safety and Other Provisions</td>
                            <td>
                                <ul class='dash-list'>
                                    <li>Conduct a safe operation and shall not pose a risk to aviation safety.</li>
                                    <li>Do not operate a UAV system in such a reckless or negligent manner so as to endanger or be likely to endanger the life or property of any person</li>
                                    <li>Cease operations if at any time the safety of other airspace users or persons or property on the ground is in jeopardy, or if the person conducting operations is unable to comply with the conditions of this exemption.</li>
                                    <li>Comply with the provisions of any other relevant Acts, Regulations or laws or from any level of government.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Minimum age</td>
                            <td>Minimum of 18 years of age, or be at least 16 years of age and conducting research under the supervision of an academic institution.</td>
                        </tr>
                        <tr>
                            <td>Liability insurance</td>
                            <td>Have no less than $100,000 in liability insurance coverage pertaining to the operation of the UAV system.</td>
                        </tr>
                        <tr>
                            <td>Impairment and Fatigue</td>
                            <td>
                                <p>Pilot shall not operate the controls of a UAV if they have any reason to believe that they are suffering or are likely to suffer from fatigue, or suffering from any other condition which would render them unfit to perform their duties.<br/> Pilot shall not operate a UAV system within eight (8) hours after consuming an alcoholic beverage or while under the influence of alcohol or while using any drug that impairs the person faculties to the extent that the safety of the operation is endangered in any way.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Aeronautical Information</td>
                            <td>Be familiar with the relevant aeronautical information that is appropriate to the intended flight, before commencing a flight.</td>
                        </tr>
                        <tr>
                            <td>Prohibited Activities</td>
                            <td>Any person operating under this exemption shall not operate a UAV in any special aviation event requiring an SFOC </td>
                        </tr>
                        <tr>
                            <td>Landowner Permission</td>
                            <td>Obtain permission from the owner(s) of the property on which a UAV intends to take-off/launch from and/or land/recover on.</td>
                        </tr>
                        <tr>
                            <td>Site survey</td>
                            <td>Prior to commencing operations, perform a site survey to assess the suitability of each location and confirm that safe operations can be conducted.</td>
                        </tr>
                        <tr>
                            <td>Required Documents</td>
                            <td>
                                <p>A copy of the following documents shall be accessible to any person conducting operations under this exemption:
                                    <ol class='alpha-list'>
                                        <li>The exemption;</li>
                                        <li>Proof of liability insurance coverage;</li>
                                        <li>Name, address and telephone number of the UAV operator;</li>
                                        <li>A copy of the UAV system operating limitations; and</li>
                                        <li>Evidence that the training required in condition 40 has been completed.</li>
                                    </ol>
                                    A person conducting operations under this exemption shall immediately produce any of the documents and/or information listed in condition 12 to a peace officer, police officer, or Transport Canada inspector upon request.
                                </p>
                            </td>
                        </tr>

                    </tbody>
                </table><br/>

                <h6 class='center'>Specific Conditions – Varies by UAV Weight</h6>
                <table class='conditions-table'>
                    <thead>
                        <tr>
                            <th colspan='2' width='10%'>Conditions</th>
                            <th width='45%'>1 kg or less</th>
                            <th width='45%'>1-25 kgs</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr class='flightConditionsBothCateg'>
                            <td rowspan="7">Flight Conditions – Both Categories</td>
                            <td>Visual Contact</td>
                            <td colspan='2'>Maintain <b>continuous unaided visual contact</b> with the UAV sufficient to be able to maintain operational control of the UAV, know its location and be able to scan the airspace in which it is operating to decisively see and avoid other air traffic or objects.</td>
                        </tr>
                        <tr class='flightConditionsBothCateg'>
                            <td>Manned Aircraft</td>
                            <td colspan='2'>Give way to manned aircraft at all times.</td>
                        </tr>
                        <tr class='flightConditionsBothCateg'>
                            <td>Airspace</td>
                            <td colspan="2"><b>Class G</b> airspace only</td>
                        </tr>
                        <tr class='flightConditionsBothCateg'>
                            <td>Aerodromes and Control Zones</td>
                            <td colspan="2">At least <b>five (5) nautical miles</b> away from the centre of any aerodrome and at least <b>three (3) nautical miles</b> away from the centre of any heliport. Appropriate <b>air traffic service unit(s) must be advised immediately</b> anytime the flight of a UAV inadvertently enters into controlled airspace.</td>
                        </tr>
                        <tr class='flightConditionsBothCateg'>
                            <td>Max Altitude</td>
                            <td colspan="2">At or below <b>300 feet above ground level (AGL)</b>.</td>
                        </tr>
                        <tr class='flightConditionsBothCateg'>
                            <td>Prohibited activities</td>
                            <td colspan="2">The following are <b>prohibited</b> under this exemption: Use of a first person view device by the pilot; Using multiple control stations, control relays or visual observers to extend the operational area; Operating more than one UAV at any one time; Operations at night; Operations within or over a forest fire area, or within five nautical miles of a forest fire area; Carrying explosive, corrosive, flammable, bio-hazard or bright light emitting (laser) payloads onboard; Operations in restricted airspace</td>
                        </tr>
                        <tr class='flightConditionsBothCateg'>
                            <td>Meteorological Conditions</td>
                            <td colspan="2">Must be <b>clear of cloud with not less than two (2) statute miles</b> ground visibility.</td>
                        </tr>
                        <tr class='flightConditionsSpecific'>
                            <td rowspan='9'>Flight Conditions - Specific</td>
                            <td>Max Speed</td>
                            <td class='center'>N/A</td>
                            <td>87 knots (100 mph)</td>
                        </tr>
                        <tr class='flightConditionsSpecific'>
                            <td>Distance from Pilot</td>
                            <td>No further than <b>one-quarter (0.25) nautical mile</b> from pilot</td>
                            <td>No further than <b>one-half (0.5) nautical mile</b> from pilot</td>
                        </tr>
                        <tr class='flightConditionsSpecific'>
                            <td>Built-up Areas</td>
                            <td>No operations allowed over or within a built up area.</td>
                            <td>Operations must be at least <b>3 nautical miles</b> from the boundary of a built-up areas.</td>
                        </tr>
                        <tr class='flightConditionsSpecific'>
                            <td>Lateral Distances</td>
                            <td>
                                <p>At least <b>100 feet away from any building, structure, vehicle, vessel, animal or persons</b> unless: The building, structure, vehicle, vessel or animal is the subject of the aerial work, and only persons inherent to the operation are present.</p>
                                <p>At least <b>100 feet from the general public</b>, spectators, bystanders or any person not associated with the operation.</p>
                                <p>No UAV operations allowed over or within an open-air assembly of persons (within 100 feet laterally of assembly)</p>
                            </td>

                            <td>
                                <p>At least <b>500 feet away from any building, structure, vehicle, vessel, animal or persons unless</b>: The building, structure, vehicle, vessel or animal is the subject of the aerial work, and only persons inherent to the operation are present.</p>
                                <p>At least <b>500 feet from the general public</b>, spectators, bystanders or any person not associated with the operation.</p>
                                <p>No UAV operations allowed over or within an open-air assembly of persons (within 100 feet laterally of assembly)</p>
                            </td>
                        </tr>
                        <tr class='flightConditionsSpecific'>
                            <td>Normal Procedures</td>
                            <td>
                                <p>
                                    <ul class='dash-list'>
                                        <li>Be able to take immediate active control of a UAV at all times.</li>
                                        <li>Establish and follow normal, lost link and emergency procedures, including those established by the manufacturer.</li>
                                        <li>Confirm that no unacceptable radio frequency interference to the UAV system is present prior to flight, nor is likely to be present during flight.</li>
                                        <li>Do not operate a UAV system unless it is operated in accordance with the operating limitations specified by the manufacturer.</li>
                                    </ul>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <ul class='dash-list'>
                                        <li>Be able to take immediate active control of a UAV at all times.</li>
                                        <li>Establish and follow normal, lost link and emergency procedures, including those established by the manufacturer.</li>
                                        <li>Confirm that no unacceptable radio frequency interference to the UAV system is present prior to flight, nor is likely to be present during flight.</li>
                                        <li>Do not operate a UAV system unless it is operated in accordance with the operating limitations specified by the manufacturer.</li>
                                        <li>Do not activate a flight termination system, if a UAV is so equipped, in such a manner as to endanger other airspace users or persons or property on the ground.</li>
                                        <li>Do not conduct a take-off/launch of a UAV unless the risk involved with lost link circumstances has been assessed and a determination has been made as to when auto-recovery maneuvers or flight termination shall be initiated.</li>
                                    </ul>
                                </p>
                            </td>
                        </tr>
                        <tr class='flightConditionsSpecific'>
                            <td>Emergency Procedures</td>
                            <td class='center'>N/A</td>
                            <td>
                                <p>Establish and adhere to procedures to be followed in the event that control of the UAV can no longer be maintained, specifically: Procedures for contacting emergency responders; Procedures for landing/recovering the UAV safely; Procedures for contacting the appropriate air traffic service unit; and name(s) of individuals responsible for following each of the above procedures.</p>
                                <p>Any person conducting operations under this exemption shall establish and adhere to an emergency contingency plan.</p>
                            </td>
                        </tr>
                        <tr class='flightConditionsSpecific'>
                            <td>Icing</td>
                            <td class='center'>N/A</td>
                            <td>Do not operate a UAV in known or forecast icing conditions. Do not conduct a take-off/launch of a UAV that has frost, ice or snow adhering to any of its critical surfaces.</td>
                        </tr>
                        <tr class='flightConditionsSpecific'>
                            <td>Portable Electronic Devices</td>
                            <td class='center'>N/A</td>
                            <td>No use of a portable electronic device at the control station of a UAV system where the device may impair the functioning of the systems or equipment.</td>
                        </tr>
                        <tr class='flightConditionsSpecific'>
                            <td>Equipment </td>
                            <td class='center'>N/A</td>
                            <td>Ensure the following operational and emergency equipment is immediately available: checklists or placards that enable a UAV system to be operated in accordance with the limitations specified by the manufacturer, and a hand-held fire extinguisher.</td>
                        </tr>
                        <tr class='training'>
                            <td>Training</td>
                            <td>Pilot Training</td>
                            <td>The pilot conducting operations under this exemption shall have the <b>appropriate knowledge, training on the UAV system and qualifications for the area and type of operation</b>, as referred to in Transport Canada Advisory Circular 600-004.</td>
                            <td>The pilot operating a UAV system under this exemption shall have successfully completed a <b>pilot ground school program</b> that provides instruction on the following subject areas: airspace classification and structure; meteorological and NOTAM reporting services; interpretation of aeronautical charts and the Canada Flight Supplement; and applicable content of the Canadian Aviation Regulations. The pilot conducting operations under this exemption shall be <b>appropriately trained on the UAV system and qualified for the area and type of operation</b>.</td>
                        </tr>
                        <tr class='reporting'>
                            <td rowspan='2'>Reporting</td>
                            <td>Pre-Flight Reporting</td>
                            <td colspan='2'>
                                <p><b>Any person operating under this exemption</b> shall, <b>prior</b> to the commencement of operations, <b>notify the Minister, in writing, of</b>:
                                    <ol class='alpha-list'>
                                        <li>Their name, address, telephone number and e-mail; The model of UAV(s) being operated including serial number(s), where appropriate; The type of work being conducted; The geographic boundaries or area(s) where the operation will be conducted; and</li>
                                        <li>confirmation that: the exemption has been read and understood; flights will only be conducted in Class G airspace; flights will only be conducted at the applicable distance from the centre of any aerodrome as specified in conditions 26 and 27; and flights will only be conducted at the applicable distance from built-up areas specified in condition 29 of this exemption.</li>
                                    </ol>
                                    Any person operating under this exemption shall notify the Minister within 10 working days of any change to the information provided in the above condition or upon the permanent cessation of UAV system operations.
                                </p>
                            </td>
                        </tr>

                        <tr class='reporting'>
                            <td>Incident Reporting</td>
                            <td class='center'>N/A</td>
                            <td>
                                <p><b>Report to the closest Transport Canada Civil Aviation office, as soon as possible, details of any of the following aviation occurrences during the operation of a UAV system</b>: Injuries to any person requiring medical attention; Unintended contact between a UAV and persons, livestock, vehicles, vessels or other structures; Unanticipated damage incurred to the airframe, control station, payload or command and control links that adversely affects the performance or flight characteristics of the UAV; Anytime the UAV is not kept within the geographic boundaries and/or altitude limits as outlined in this exemption; Any collision or risk of collision with another aircraft; Anytime the UAV becomes uncontrollable, experiences a fly-away or is missing; and any other incident that results in a Canadian Aviation Daily Occurrence Report (CADORS).</p>
                                <p>Any person conducting operations under this exemption shall, following any of the aviation occurrences listed above, cease operations until such time as the cause of the occurrence has been determined and corrective actions have been taken to eliminate the risk of reoccurrence.</p>
                            </td>
                        </tr>
                        <tr class='UAVSystem'>
                            <td rowspan="4">UAV System</td>
                            <td>Fitness for flight</td>
                            <td colspan='2'>Ensure that the UAV system is in a fit and safe state for flight prior to take-off/launch.</td>
                        </tr>
                        <tr class='UAVSystem'>
                            <td>Required Capabilities</td>
                            <td class='center'>N/A</td>
                            <td>There must be a means of: controlling the flight of the UAV; Monitoring the UAV system; Navigation; Communication, as required by the <em>Canadian Aviation</em> Regulations; Detecting hazardous environmental flight conditions; Mitigating the risk of loss of control of the UAV; Sensing and avoiding other aircraft; Avoiding flight into obstacles and terrain; and Remaining clear of cloud.</td>
                        </tr>
                        <tr class='UAVSystem'>
                            <td>Airworthiness and Maintenance</td>
                            <td class='center'>N/A</td>
                            <td><p>
                                <ul class='dash-list'>
                                    <li>A UAV must not be flown if it has been subjected to any abnormal occurrence unless it has been inspected for damage and repaired, if needed to ensure safe operation.</li>
                                    <li>All maintenance, servicing and disassembly-assembly of a UAV system and associated components must be performed in accordance with procedures described in the manufacturer’s specifications.</li>
                                    <li>The requirements of any airworthiness directives, or equivalent, issued by the manufacturer have been completed.</li>
                                </ul>
                                </p></td>
                        </tr>
                        <tr class='UAVSystem'>
                            <td>Prohibited Equipment</td>
                            <td class='center'>N/A</td>
                            <td>UAV must not be equipped with an emergency locator transmitter (ELT).</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function() {
            window.openInNewTab = function(link) {
                var win = window.open(link, '_blank');
                win.focus();
            };
        });

    </script>
</body>

</html>
