<html>

<head>
    <title>How to get started</title>
    <meta charset='UTF-8'>

    <link rel="stylesheet" type="text/css" href="../../lib/css/libsConcatCSS.css">
    <script type="text/javascript" src='../../lib/libsConcat.js'></script>

    <link rel="stylesheet" type="text/css" href="../../stylesheets/faq.css">


</head>

<body>
<!--
    <div id='sidebar'>
        <a>Welcome</a><br/>
        <a>Get Started</a><br/>
        <a>Create Project</a>
    </div>
-->
    <div class='container' style='margin-top: 20px;'>
        <div class='row'>
            <div class='col s12'>
                <div style='position: relative;'>
                    <img src='/img/faqPic.jpg' height='300px' style='width: 100%; filter:blur(1px) brightness(80%);'>
                    <span style='position: absolute; bottom: 0; left: 0px; padding-left: 10px;'><h3 style='color: white;'>How to get started</h3></span>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col s12'>
                <h5>Welcome to CloudUAV!</h5>
                <p>CloudUAV is an open-source, cloud-based Research Platform that streamlines Unmanned Aerial Vehicle (UAV) workflows for Canadian researchers. CloudUAV is in development by an Internet of Things (IoT) software team at <a href='https://www.sensorup.com/'>SensorUp</a> and the Applied Geospatial Research Group at the University of Calgary, and is hosted by <a href='https://www.canarie.ca/'>CANARIE</a>.
                </p>
            </div>
        </div>
        <div class='row'>
            <div class='col s12'>
                <h5>Get Started</h5>
                <p><a href='/components/signup/signup.html'>Create an account</a> so you can access CloudUAV workflow</p>
            </div>
        </div>
        <div class='row'>
            <div class='col s12'>
                <h5>Already have an account?</h5>
                <p>Create your first project. Before we create a project, lets add our sensors, drones, and personnels into the system.<br/><br/>

                <b>1. Create a sensor:</b> <br/>
                <i class='fa fa-bars'></i> Menu > Sensors > Create <br/><br/>
                    <img src='/img/faqImages/sensorMenu.png' style="max-width: 300px"/><br/><br/>
                Fill in the respective fields, when done then create your sensor. <br/>

                <br/><b>2. Create a drone:</b> <br/>
                <i class='fa fa-bars'></i> Menu > Drones > Create <br/><br/>
                    <img src='/img/faqImages/drones.png' style="max-width: 300px"/><br/><br/>
                Fill in the respective fields, when done then create your drone. <br/>

                <br/><b>3. Create a personnel:</b> <br/>
                <i class='fa fa-bars'></i> Menu > Personnel > Create <br/><br/>
                <img src='/img/faqImages/personnel.png' style="max-width: 300px"/><br/><br/>
                Fill in the respective fields - name, phone number, role, upload certification. When done then create your personnel. <br/><br/>

                <br/><b>4. Create a project:</b> <br/>
                <i class='fa fa-bars'></i> Menu > Create <br/><br/>
                <img src='/img/faqImages/createProject.png' class="responsive-img"/><br/><br/>
                Step through the wizard and fill in all respective fields (add your drone, sensor, personnel, etc. to the project). When done, click Create. <br/><br/>That's it you've now created your first project.
                </p>
            </div>
        </div>

        <div class='row'>
            <div class='col s12'>
                <h5>Compliance Map</h5>
                <p>CloudUAV provides a compliance map to ensure users are flying their UAV in area that is permitted by Transport Canada.<br/><br/>
                    <img src='/img/faqImages/complianceMap.png' class="responsive-img"/><br/><br/>
                </p>
            </div>
        </div>

        <div class='row'>
            <div class='col s12'>
                <h5>Upload UAV Files</h5>
                <p>To upload a UAV file, go to <i class='fa fa-bars'></i> Menu > Files > Upload<br/><br/>
                    <img src='/img/faqImages/uploadFile.png' class="responsive-img"/><br/><br/>
                Select a project and the UAV. Click upload and your file will be uploaded to the system.
                </p>
                <p>
                    <b>What can I do with my images?</b><br/>
                    You can view your images or you can see a compiled video of your UAV images and view the locations of where those images are taken. To view this feature, in the Files section > Filter, select datastream 'images' > View Animation of Images<br/><br/>

                    <img src='/img/faqImages/imagesMap.png' class="responsive-img"/>
                </p>
                <p>
                    <b>What do I do with my point cloud data?</b><br/>
                    You can view your point cloud data in our web application. Upload your file and click on your file. It will display the data in Plas.IO, which is a visualization for point cloud data.<br/>
                    Warning: it will take some time for Plas.IO to display the file depending on the size of the file. So please wait and do not leave the page.<br/><br/>

                    <img src='/img/faqImages/pointCloudDataFiles.png' class="responsive-img"/><br/><br/>
                    <img src='/img/faqImages/pointCloudImage.png' class="responsive-img"/>
                </p>
            </div>
        </div>

        <div class='row'>
            <div class='col s12'>
                <h5>Mission </h5>
                <p>To create a mission, go to <i class='fa fa-bars'></i> Menu > Missions > Create<br/><br/>
                    <img src='/img/faqImages/createMission.png' class="responsive-img" style="max-width:300px;"/><br/><br/>
                Fill in the respective fields (name, description, etc.). Select the sensor and  drone that will be used on this mission. Users can only select one sensor and one drone. Select the personnel that will be on this mission, you can select multiple personnel. Once done, click create and your mission is created.
                </p>
            </div>
        </div>

        <div class='row'>
            <div class='col s12'>
                <h5>CloudUAV Mobile App</h5>
                <p>Download the CloudUAV mobile app from the Google Play store. The CloudUAV app allows users to go through a series of checklist before they start flying their UAV. This ensures users are compliant with Transport Canada rules and regulations. It also allows users to add notes while they are in their mission. All of this data is sync with the website when the app is connected to wifi. <br/><br/>

                </p>
            </div>
        </div>

        <div class='row'>
            <div class='col s12'>
                <h5>Articles</h5>
                <a href="./Canadian-UAV-Regulations.html">Canadian UAV Regulations</a><br/>
                <a href="./Proposed-Car-Changes-&-Translations.html">Proposed CAR Changes & Translations</a><br/>
                <a href="./Proposed-Canadian-Aviation-Regulation-Changes.html">Proposed Canadian Aviation Regulation Changes</a>
            </div>
        </div>
    </div>


</body>

</html>
