<html>

<head>
  <title>UAV Inventory</title>
  <meta charset='UTF-8'>

  <link rel="stylesheet" type="text/css" href="../../lib/css/libsConcatCSS.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src='../../lib/libsConcat.js'></script>

  <link rel="stylesheet" type="text/css" href="../../stylesheets/inventory.css">
  <script type="text/javascript" src='../../config.js'></script>
  <script type="text/javascript" src='../assets/httpCalls.js'></script>
  <script type="text/javascript" src='../assets/sharedComponents.js'></script>
  <script type="text/javascript" src='./inventoryController.js'></script>
  <script type="text/javascript" src='./droneInventoryView.js'></script>
  <script type="text/javascript" src='./droneInventory.js'></script>
</head>

<body>
  <div id='pageContainer'>
    <side-nav-bar v-bind:user='user' v-show='!loading'></side-nav-bar>
    <header>
      <ul class="dropdown-content" id="user_dropdown">
        <li><a class="theme-text" href="/components/accountDetails/accountDetails.html">My Account</a></li>
        <li><a class="theme-text" href="#" v-on:click="logoutBtn">Logout</a></li>
      </ul>

      <nav class="theme" role="navigation">
        <div class="nav-wrapper">
          <img class="brand-top" src="../../img/CloudUAV_White.png" />
          <ul class="right">
            <li>
              <a class='right dropdown-button' href='' data-activates='user_dropdown'><i class=' material-icons'>account_circle</i></a>
            </li>
          </ul>
        </div>
      </nav>

      <nav class="theme" role="navigation">
        <div class="nav-wrapper theme lighten-1">
          <div class="row">
            <div class="col s12">
              <menubar-icon></menubar-icon>
              <a href="/components/home/home.html" class="breadcrumb">Home</a>
              <a href="/components/drone/drone.html" class="breadcrumb">UAV</a>
              <a href="/components/inventory/droneInventory.html" class="breadcrumb">Inventory</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class='loadingIcon' v-show='loading'>
        <object data='../../img/sensorupLogosvg.svg' type='image/svg+xml'>
    		<div class='loadingGif'></div>
    	</object>
      </div>
      <div v-show='!loading' class='container'>
        <div class='row'>
          <div class="input-field col s12">
            <select v-model='projectModel.selectedProject' class='selectProject'>
                        <option v-for='item in projectModel.projects' v-bind:value='item.id'>{{item.name}}</option>
                        <option value="none">None</option>
                    </select>
            <label>Project</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l4" v-for="inventory in inventoryList">
            <div class="card theme lighten-1">
              <div class="card-content white-text">
                <span class="card-title">{{inventory.name}}</span>
                <p>{{inventory.Inventory.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>
