@import 'common';
$file-outer-border-height: 200px;
.imgBorder {
    text-align: center;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;

  &.small {
    width: 120px;
    height:120px;
    &.circle {
      border-radius: 50%;
      background-color: #546080;
    }
  }
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

#personnelImage {
    height: 36px;
    width: 173px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    cursor: pointer;
}

.uploadBtn {
    z-index: 0;
}

#file {
    height: $file-outer-border-height;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.fileInputBox {
    margin-top: 10px;
    position: relative;
    border: 1px solid rgb(230, 230, 230);
    width: 100%;
    height: $file-outer-border-height;
    padding: 15px;
}

.fileInputBox label {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 45%;
}

.fileInputBoxBorder {
    padding: 15px;
    width: 100%;
    height: 100%;
    border: 2px dashed rgb(230, 230, 230);
    overflow: auto;
}

.fileInputLabel {
    font-size: 16px !important;
    color: rgb(179, 179, 179);
}

.filesToUploadIcons {
    display: inline-block;
    height: 100px;
    min-width: 100px;
    padding: 10px 10px;
    margin-right: 10px;
    background-color: rgba(230, 230, 230, 0.7);
    border: 1px solid rgba(230, 230, 230, 0.7);
    border-radius: 6px;
    position: relative;
    margin-bottom: 20px;
}

.filename {
    z-index: 999;
    height: 100%;
    width: 100%;
    color: rgb(64, 64, 64);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    word-break: break-word;
    position: relative;
    z-index: 2;
}

.fileNames {
    position: relative;
}

.filesToUploadIcons:before {
    font-family: 'FontAwesome';
    content: "\f016";
    color: rgb(191, 191, 191);
    font-size: 60px;
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.fa.fa-file-o {
    font-size: 60px;
    color: rgb(179, 179, 179);
    height: 100%;
    width: 100%;
    z-index: 0;
    text-align: center;
}
