.dropdown-menu {
    display: none;
}

.dropdown-toggle {
    position: relative;
}

.fa.fa-angle-down {
    font-size: 20px;
}

.dropdown b {
    right: 20px;
    position: absolute;
    top: 30%;
}

.fa {
    font-size: 18px;
}
