<html>

<head>
  <title>CloudUAV Home</title>
  <meta charset='UTF-8'>

  <link rel="stylesheet" type="text/css" href="../../lib/css/libsConcatCSS.css">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/common.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src='../../lib/libsConcat.js'></script>
  <script type="text/javascript" src='../../config.js'></script>
  <script type="text/javascript" src='../assets/httpCalls.js'></script>
  <script type="text/javascript" src='../assets/sharedComponents.js'></script>
  <script type="text/javascript" src='./homeController.js'></script>
  <script type="text/javascript" src='./homeView.js'></script>
  <script type="text/javascript" src='./home.js'></script>
</head>

<body>

  <div id='pageContainer'>
    <side-nav-bar v-bind:user='user' v-show='!loading'></side-nav-bar>

  <header>
    <ul class="dropdown-content" id="user_dropdown">
      <li><a class="theme-text" href="/components/accountDetails/accountDetails.html">My Account</a></li>
      <li><a class="theme-text" href="#" v-on:click="logoutBtn">Logout</a></li>
    </ul>

    <nav class="theme" role="navigation">
      <div class="nav-wrapper">
        <img class="brand-top" src="../../img/CloudUAV_White.png" />
        <ul class="right">
          <li>
            <a class='right dropdown-button' href='' data-activates='user_dropdown'><i class=' material-icons'>account_circle</i></a>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="theme" role="navigation">
      <div class="nav-wrapper theme lighten-1">
        <div class="row">
          <div class="col s12">
            <menubar-icon></menubar-icon>
            <a href="#" class="breadcrumb">Home</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class='loadingIcon' v-show='loading'>
      <object data='../../img/sensorupLogosvg.svg' type='image/svg+xml'><div class='loadingGif'></div></object>
    </div>
      <div class="container-fluid" v-show='!loading'>
        <div class="row">
          <div class="col s12 m4">
            <div class="card">
              <div class="card-content theme lighten-5 white-text valign-wrapper">
                <div class="card-text">
                  <h6>Sensors</h6>
                  <h3>{{sensor_num}}</h3>
                </div>
                <div class="card-icon">
                  <i class="large material-icons">linked_camera</i>
                </div>
              </div>
              <div class="card-action right-align">
                <a href="/components/sensors/createSensor.html" class="tooltipped btn-floating waves-effect waves-light theme blue-darken-1" data-position="top" data-delay="10" data-tooltip="Create one or more Sensors">
                  <i class="material-icons">add</i></a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-content theme lighten-5 white-text valign-wrapper">
                <div class="card-text">
                  <h6>Missions</h6>
                  <h3>{{mission_num}}</h3>
                </div>
                <div class="card-icon">
                  <i class="material-icons large">assignment</i>
                </div>
              </div>
              <div class="card-action right-align">
                <a href="/components/missions/createMission.html" class="tooltipped btn-floating waves-effect waves-light theme blue-darken-1" data-position="top" data-delay="10" data-tooltip="Create one or more Missions">
                  <i class="material-icons">add</i>
                </a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-content theme lighten-5 white-text valign-wrapper">
                <div class="card-text">
                  <h6>UAVs</h6>
                  <h3>{{drone_num}}</h3>
                </div>
                <div class="card-icon">
                  <i class="material-icons large">flight</i>
                </div>
              </div>
              <div class="card-action right-align">
                <a href="/components/drone/createDrone.html" class="tooltipped btn-floating waves-effect waves-light theme blue-darken-1" data-position="top" data-delay="10" data-tooltip="Create one or more UAVs">
                  <i class="material-icons">add</i></a>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content theme lighten-5 white-text valign-wrapper">
                <div class="card-text">
                  <h6>Projects</h6>
                  <h3>{{project_num}}</h3>
                </div>
                <div class="card-icon">
                  <i class="large material-icons">work</i>
                </div>
              </div>
              <div class="card-action right-align">
                <a href="/components/drone/addDrone.html" class="tooltipped btn-floating waves-effect waves-light theme blue-darken-1" data-position="top" data-delay="10" data-tooltip="Create Projects">
                  <i class="material-icons">add</i></a>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content theme lighten-5 white-text valign-wrapper">
                <div class="card-text">
                  <h6>Flying Time</h6>
                  <h3>{{flight_time}}</h3>
                </div>
                <div class="card-icon">
                  <i class="material-icons large">access_time</i>
                </div>
              </div>
              <div class="card-action right-align">
                <a href="/components/missions/missions.html" class="tooltipped btn-floating waves-effect waves-light theme" data-position="top" data-delay="10" data-tooltip="View Missions">
                  <i class="material-icons">more_vert</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="theme lighten-1 page-footer">
      <div class="container-fluid">
        <div class="row mb-0">
          <div class="col s12">
            <h5 class="white-text">Welcome to CloudUAV</h5>
            <P>CloudUAV is developed by the software team at <a href="https://www.sensorup.com/" target="_blank">SensorUp</a> and the Applied Geospatial Research Group at the University of Calgary, and is hosted by <a href="http://www.canarie.ca/" target="_blank">CANARIE</a>.</P>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container-fluid">
          <div class="row mb-0">
            <div class="col s12">
              <p>&copy; 2016
                <script>
                  new Date().getFullYear() > 2010 && document.write("-" + new Date().getFullYear());
                </script>, <a style='font-weight: bold;' href="https://www.clouduav.ca/" target="_blank">CloudUAV</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>
